.home {
  max-height: 100vh;
  width: 100vw;
  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #f8f8ff;
  /* background-image:  */
  /* filter: brightness(30%);
  opacity: 30%; */
}
.home-container {
  height: 100%;
  padding: 5%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}
.home-align {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center !important;
  height: 100%;
}
.home-left {
  flex: 0 0 50%;
  max-width: 50%;
}
.home-right {
  flex: 0 0 50%;
  max-width: 50%;
}
.home-intro {
  color: #f8f8ff;
}

.home-image {
  left: 5%;
  position: relative;
  z-index: 1;
  text-align: center;
}

.home-image::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 5%;
  border: 10px solid #f8f8ff;
  width: 80%;
  height: 70%;
  z-index: -1;
  transform: rotate(5deg);
  box-shadow: 1px 2px 8px #111111a0;
  border-radius: 5px;
  background-color: #44484e;
}

.home-selfie {
  height: 75%;
  width: 75%;
  transform: rotate(5deg) scaleX(-1);
  filter: brightness(92%);
  z-index: 2;
}

.home-fix {
  height: 40%;
  width: 100%;
  background-color: #111111a0;
}
