.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
}
.navbar-container {
  user-select: none;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  padding-left: 0;
  padding: 10px 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.nav-item {
  cursor: pointer;
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  padding: 5px 15px;
  text-decoration: none;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  z-index: 10000;
}

.nav-highlight {
  position: fixed;
  transition: all 0.2s;
  border-bottom: 2px solid white;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  navbar-container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  navbar-container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  navbar-container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  navbar-container {
    max-width: 540px;
  }
}
