.works {
  max-height: 100vh;
  width: 100vw;
  border-bottom: 2px solid #f8f8ff;
}
.works-container {
  height: 50vh;
  padding: 5%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}
.works-align {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center !important;
  height: 100%;
}
.works-left {
  height: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.works-display-container {
  width: 100%;
  height: 100%;
  border: 3px solid #f8f8ff;
  background-color: #444448a0;
  border-radius: 5px;
  box-shadow: 0 2px 8px #111118a0;
}
.works-display {
  width: 100%;
  height: 90%;
  border-bottom: 1px solid #f8f8ff;
  /* border: 3px solid #f8f8ff; */
}
.works-display-knob-container {
  width: 100%;
  height: 10%;
  background-color: #f8f8ff50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-display-knob {
  margin: 0 2%;
  width: 30px;
  height: 30px;
  background-color: #f8f8ff;
  border-radius: 50%;
}
.works-display-next-left {
  margin: 0 2%;
  width: 30px;
  height: 30px;
  background-color: #f8f8ff50;
  border-radius: 50%;
}
.works-display-next-left:hover {
  cursor: pointer;
}
.works-display-next-right {
  margin: 0 2%;
  width: 30px;
  height: 30px;
  background-color: #f8f8ff50;
  border-radius: 50%;
}
.works-display-next-right:hover {
  cursor: pointer;
}
.works-spacing {
  height: 100%;
  flex: 0 0 5%;
}
.works-right {
  height: 100%;
  flex: 0 0 45%;
  max-width: 50%;
}
.works-right-container {
  width: 100%;
  height: 100%;
  background-color: #444448a0;
  border-radius: 5px;
}
.works-title-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.works-title {
  color: #f8f8ff;
  font-weight: bold;
  font-size: 2.5vw;
  text-decoration: underline #f8f8ff20 2px;
}
.works-description-container {
  height: 90%;
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.works-description {
  color: #f8f8ff;
  font-weight: bold;
  font-size: 1.25vw;
  padding: 0 5%;
  overflow: hidden;
}
